name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'back/go.mod'
        cache: true
        cache-dependency-path: back/go.sum

    - name: Build
      working-directory: back
      run: |
        go mod download
        go build -v ./...

    # - name: Test
    #   working-directory: back
    #   run: go test -v ./...